<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KROMA</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>

    <header>
        <div class="logo">
            <img src="/public/imgs/logo_header.png" alt="KROMA">
        </div>

        <div class="nav-right">
            <a href="#">ABOUT</a>
            <a href="#">ABOUT</a>
            <a href="#">ABOUT</a>
            <a href="#">ABOUT</a>
            <div class="profile">
                <img src="/public/imgs/usuario.png" alt="Perfil">
            </div>
        </div>
    </header>

    

   

</body>

</html>