<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KROMA</title>

    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>

    <!-- HEADER -->
    <header>

        <div class="logo">
            <img src="/public/imgs/logo_header.png" alt="KROMA">
        </div>

        <div class="nav-right">
            <a href="#">EDITOR</a>
            <a href="#">DESAFÍOS</a>
            <a href="#">PALETA</a>
            <a href="#">PUNTOS</a>

            <div class="profile">
                <img src="/public/imgs/usuario.png" alt="Perfil">
            </div>
        </div>

    </header>

    <!-- CONTENIDO -->
    <main class="learn-page">

        <!-- IZQUIERDA -->
        <section class="editor-side">

            <!-- EDITOR -->
            <div class="code-editor">

                <pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;

    &lt;title&gt;
        Mi primera WEB
    &lt;/title&gt;

&lt;/head&gt;

&lt;body&gt;

    &lt;div class="container"&gt;

        &lt;h1&gt;
            Hola mundo!
        &lt;/h1&gt;

        &lt;p&gt;
            Este es un ejemplo del uso
            de HTML para crear una
            página web que nuestro
            navegador puede interpretar.
        &lt;/p&gt;

    &lt;/div&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>

            </div>

        </section>

        <!-- DERECHA -->
        <section class="preview-side">

            <!-- PREVIEW -->
            <div class="preview-window">

                <div class="preview-content">

                    <h1>Hola mundo!</h1>

                    <p>
                        Este es un ejemplo del uso
                        de HTML para crear una página
                        web que nuestro navegador
                        puede interpretar.
                    </p>

                </div>

            </div>

            <!-- BOTÓN -->
            <button class="run-btn">

                EJECUTAR

            </button>

        </section>

    </main>

</body>

</html>